.elementor-54 .elementor-element.elementor-element-fbdaae3 {padding: 54px 0px 54px 0px;}
.elementor-54 .elementor-element.elementor-element-7434f8e .elementor-heading-title {font-size: 54px;}
.elementor-54 .elementor-element.elementor-element-15e2ccb {text-align: left;}
.elementor-54 .elementor-element.elementor-element-15e2ccb.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-54 .elementor-element.elementor-element-15e2ccb .elementor-heading-title {font-size: 18px;}
.elementor-54 .elementor-element.elementor-element-64aa659 {margin-top: 40px;margin-bottom: 0px;}
.elementor-54 .elementor-element.elementor-element-8907592 {text-align: center;}
.elementor-54 .elementor-element.elementor-element-8907592 .elementor-social-icon {font-size: 15px;}